{% extends "app/layout.html" %}

{% block content %}
<body>
    <content>

    </content>
    <a href="https://talesoftravellingsisters.com/does-europe-have-natural-disasters/" target="_blank"> <img id="2LOGO" src="../../static/app/content/2LOGO.jpg"  alt="Logo2" /></a>;
    <a href="https://www.thoughtco.com/asias-worst-natural-disasters-195150" target="_blank"> <img id="3LOGO" src="../../static/app/content/3LOGO.jpg"  alt="Logo3" /></a>;
    <a href="https://en.wikipedia.org/wiki/List_of_natural_disasters_in_the_United_States" target="_blank"> <img id="1LOGO" src="../../static/app/content/1LOGO.jpg"  alt="Logo1" /></a>;
</body>
{% endblock %}